
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */

.secondary-bg{
    background-color: #fff8f3;
}

.text-primary{color: #FD6E0A;}

.dark-2{color: #474747;}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    border: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;

}

.section-titel{
    font-size: 35px;
    font-weight: bold;
color:#181818 ;
}

.section-description{
    font-size: 18px;
    color:#757575 ;
}

.text-center{text-align: center;}

/* header */

.header{background-image: url(images/developer.png),url(images/header_bg.png);
background-repeat: no-repeat;
background-position: top left,bottom right;
}

/* nev styles */
nav{display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-titel{font-weight:800;
font-size:45px ;}

nav ul {display: flex;
    align-items: center;
}

nav ul li {list-style: none;
margin-right:40px;}

nav li a {text-decoration: none;
font-size:20px;}


/* banner style */

.banner{display: flex;
    justify-content: space-between;
    margin: 0px 35px 0 200px;

}

.banner-content{max-width: 580px;}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-titel{
    font-weight: bold;
    font-size: 85px;
}

.banner-profile-pic{width: 580px;}

/* main style */
main{max-width: 1140px;
margin: 0 auto;}
/* about style */
.about{border-radius: 10px;
padding: 130px 150px;
text-align: center;
margin-top: 130px;
}

.item-discreptin{font-weight: 600;}

.about-items{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    
}



/* skills style */

.skills-container{
    display: flex;
    gap: 25px;
    background-color: #fff8f3;
}

.skill{padding: 30px;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
border-radius: 5px;
margin-top: 40px;}

/* resume style */

.resume-container{
    display: flex;
    gap: 24px;
}
.experience-sub-titel{font-size:20px; font-weight: 600;
margin-bottom: 20px;
}

.experience-descreption, .experience-sub-titel{
    color: #757575;
}

.resume hr{margin: 30px 5px;}

.resume-downlode-CV{margin-top: 50px;}
.aro{height: 10px;width: 10px;background-size: cover;}

/* fotter style */

footer{
    padding: 130px 230px;
    display: flex;
    gap:100px;
}

.footer-column{width: 50%;}

footer input[type="text"]{height: 64px;
    border-radius: 5px;
    background-color: aliceblue;
    display: block;
    width: 100%;
    padding:5px 10px ;
    margin-bottom: 10px;
}


/* responsive mwdia query */

.heid{
    display: none;
}

@media screen and (max-width:412px){
    .skills-container{
        flex-direction: column;
        
    }
    .resume-container{
        flex-direction: column;
    }
    footer{padding: 20px;gap: 20px;flex-direction: column;}
.footer-column{
    width: 100%;
}
.secondary-bg{
    padding: 10px;
}
.about-items{
    flex-direction: column;
}
}